[Desktop Entry]
Type=Application
TryExec=xdg-open
Exec=xdg-open "https://github.internal.digitalocean.com"
Icon=Alacritty
Terminal=false
Categories=WebBrowser;Network;

Name=GH:E
GenericName=GitHub Enterprise
Comment=Internal GitHub Enterprise
